<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164522465944-6iiea0lfcucgt5srhts3jq5udu827mc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164522465944-6iiea0lfcucgt5srhts3jq5udu827mc9</string>
	<key>API_KEY</key>
	<string>AIzaSyD5Vt19C1hrGu5ge7cBN7xC5w8oezl_VcU</string>
	<key>GCM_SENDER_ID</key>
	<string>164522465944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.honghao.Taptap-Heart-Rate</string>
	<key>PROJECT_ID</key>
	<string>taptap-heart-rate</string>
	<key>STORAGE_BUCKET</key>
	<string>taptap-heart-rate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:164522465944:ios:346ab0b154a660e7</string>
	<key>DATABASE_URL</key>
	<string>https://taptap-heart-rate.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-5080537428726834~5084068702</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-5080537428726834~5084068702</string>
</dict>
</plist>
